/* part 1 from header.php */

.product {
	cursor: pointer;
}
.product.zoom {
	position: absolute;
	top: -40px;
	left: -20px;
	width: 220px;
	padding: 10px;
	z-index: 10;
	display: none;
	cursor: pointer;
}
.product.zoom .img {
	height: 176px;
	width: 220px;
}
.product.zoom .img img {
	max-width: 220px;
	max-height: 176px;
}
.product.zoom .buy2 {
	margin-top: 12px;
	margin-bottom: 4px;
}
.product.zoom .buy2 a {
	background: url("/bitrix/templates/store_minimal_blue/images/btn/buy-btn2.gif") no-repeat scroll 0 0 transparent;
	display: block;
	text-decoration: none;
	text-align: center;
	width: 109px;
	height: 32px;
	line-height: 32px;
	padding: 0;
	margin: auto;
}


/* part 2 from header.php */

#spec_tatu, #bg_right {
	display: none !important;
}
/*
#bg_all {
	position: absolute;
	z-index: 4;
	top: 400px;
	right: 0;
	width: 100%;
	height: 100%;
	background: url('/bitrix/templates/store_minimal_blue/images/bar/pattern_bottom.jpg') repeat;
}
*/
.header-search {
	left: 215px !important;
	width: 725px !important;
}
.header-search input[type="text"] {
	width: 320px !important;
}
#welcome {
	position: absolute;
	top: 54px;
	left: 205px;
	z-index: 200;
	font-size: 20px !important;
	font-style: italic;
}
.block-informer {
	font-weight: bold !important;
}

/*from js */
/*$('#content, #header-item').attr('style', 'background-image: none;')*/
#content, #header-item {background-image: none;}



/*from footer */
.fancybox-wrap.fancybox-desktop.fancybox-type-inline.fancybox-opened {
    width: 60%!important;
}
.fancybox-inner {
    width: 100%!important;
}
#popupform div form {
    width: 80%;
}#popupform div form  i { margin-top: 5px;}

#popupform p {font-size:14px}