div.faq-question p.error{
color:#ff0000;
}
div.faq-question p.success{
color:green;
}
div.faq-question form p{
margin:5px 0;
}
div.faq-question form p.title{
font-weight:bold;
font-size:16px;
color:#333;
}
div.faq-question #name, div.faq-question #question, div.faq-question #email{
	width:350px;
}