span.date {color: #a3a3a3;}
.forum-block-container {padding-bottom: 20px;}
.forum-text {margin-bottom: 15px;}

div.forum-info-box
{
	padding:0.5em 1.117em;
	border-width: 1px;
	border-style: solid;
	line-height: 1.5em;
	margin-bottom:1em;
	
}

/* Page navigation */
div.forum-navigation-box
{
	padding:0 1.117em;
	border-width: 1px;
	border-style: solid;
	line-height:1.5em;
	overflow: hidden;
	
}

div.forum-page-navigation { float:left; padding:0.5em 0;}
div.forum-navigation-top { border-bottom: none; }
div.forum-navigation-bottom { border-top: none; margin-bottom: 1em;}
div.forum-page-navigation a, span.forum-page-current, span.forum-page-dots
{
	border-left-width: 1px;
	border-left-style: solid;
	padding-left:0.75em;
	padding-right: 0.5em;
	text-decoration: none;
}


div.forum-page-navigation a.forum-page-previous { border-right-width:1px; border-right-style: solid; border-left: none; }
div.forum-page-navigation a.forum-page-first, div.forum-page-navigation span.forum-page-first { border-left: none; padding-left: 0.5em; }
span.forum-page-current { font-weight: bold; }
div.forum-new-post
{
	float:right;
	text-align:right;
	padding:0.5em 0;
	font-weight: bold;
}

/* Topic posts table */
table.forum-post-table
{
	width: 100%;
	line-height:1.5em;
	border-top-width: 1px;
	border-top-style: solid;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	margin-bottom:1em;
}

/* First Post Table */
table.forum-post-first { border-top: none; }

/* Odd Post Table */
table.forum-post-odd {}

/* Even Post Table */
table.forum-post-even {}

/* Last Post Table */
table.forum-post-last {}

/* Post Table Cell */
table.forum-post-table td { padding: 0; vertical-align: top; }

/* Post Table: User Info and User Contacts Cells*/
table.forum-post-table td.forum-cell-user, table.forum-post-table td.forum-cell-contact
{
	/*width:15em;*/
	width:180px;
	border-right-width: 1px;
	border-right-style: solid;
	border-left-width: 1px;
	border-left-style: solid;
	overflow: hidden;
}

/* Post Table: User Info Cell */
table.forum-post-table td.forum-cell-user { }

/* Post Table: Post and Actions Cell */
table.forum-post-table td.forum-cell-post, table.forum-post-table td.forum-cell-actions { border-right-width: 1px; border-right-style: solid; }

/* Post Table: User Contacts and Actions Cell */
table.forum-post-table td.forum-cell-contact, table.forum-post-table td.forum-cell-actions { border-top-width: 1px; border-top-style: dashed; height: 1.5em; }

div.forum-post-date, div.forum-post-entry { padding:0.5em 1em 0.5em 1em; font-size:1em; font-weight:normal; }

div.forum-post-date { border-bottom-width:1px; border-bottom-style: dashed; }

div.forum-post-number { float:right; display: inline; /* IE fix */ }
div.forum-post-number input { margin:0 0 0 0.2em; vertical-align: middle;}
div.forum-post-number a {vertical-align: middle;}
div.forum-post-number span { font-weight: bold; }

div.forum-post-text { padding:0.5em 0; }
/* Post Table: Quote and Author Name Links*/
div.forum-post-reply-buttons{float:right;}
/* Post Attachments */
div.forum-post-attachments { margin:1.5em 0;}
div.forum-post-attachments label { font-weight: bold; padding-bottom:0.5em;}
div.forum-post-attachment { padding-left: 0.5em;}

div.forum-post-lastedit { padding:0.5em 0; font-style: italic;}
span.forum-post-lastedit-user { font-weight: bold;}

/* User Signature*/
div.forum-user-signature { margin-top: 1em; }
div.forum-signature-line 
{
	border-top-width: 1px;
	border-top-style: solid;
	width:200px;
	height:1px;
	/* IE Fix */
	line-height:1px;
	font-size:1px;
}

div.forum-user-signature span {line-height: 0.95em; padding-top:0.5em; display: block; font-size: 0.95em;}

div.forum-user-info { padding:0.5em 1em 1.5em 1em; }

div.forum-user-avatar { margin: 0.5em 0; }

div.forum-user-status { margin-bottom: 0.5em; }

div.forum-user-additional { font-size: 0.95em; }
div.forum-user-additional span { display: block;}
div.forum-user-additional span span { display: inline;}

div.forum-user-name span { font-size:1em; font-weight:bold; line-height:1.1em;}

span.forum-vote-user a { text-decoration: none; vertical-align: top; font-size:1.1em;}

div.forum-user-name a { text-decoration:none; font-size: 1.1em; }

div.forum-user-status span { font-weight:bold; line-height:normal; }

div.forum-contact-links { padding:0.5em 1em 0.5em 1.5em; }

div.forum-action-links { padding:0.5em 1.5em 0.5em 1em; text-align:right; }
div.forum-action-links span {white-space: nowrap;}

div.forum-post-entry { font-size:1em; padding-bottom:1em; height:100%;}

/* Post Table Footer */
table.forum-post-table td.forum-column-footer { border-bottom: none; }

div.forum-post-moderate { float: right; }
div.forum-topic-moderate { text-align: left; }
div.forum-topics-moderate { float: right; }
div.forum-topics-moderate input, div.forum-topics-moderate select { font-size: 1.1em;}

/*BBCode: List*/
div.forum-post-entry ul, div.forum-post-entry ol { padding:0.5em 0 0.5em 2em; }

/*BBCode: Quote and Code*/
table.forum-quote, table.forum-code
{
	font-size:1em;
	margin:0.5em 0 1em;
	width:100%;
	border-width:1px;
	border-style: solid;
	border-collapse: collapse;
}

table.forum-quote table.forum-quote, table.forum-code table.forum-code { width: 95%; margin: 0.5em 0 0;}


table.forum-quote th, table.forum-code th {font-weight:bold; padding: 0.25em 1em; text-align:left;}
table.forum-quote td, table.forum-code td { padding:0.9em 1em; }

div.forum-code-box
{
	font-family: "Consolas", "Monaco", "Courier New", Courier, monospace;
	font-size: 1em;
	width: 100%;
	overflow: auto;
	border-width:1px;
	border-style: solid;
	margin:0.5em 0;
}

div.forum-code-box ol, div.forum-code-box ol li, div.forum-code-box ol li span { margin: 0; padding: 0; border: none; }

div.forum-code-box ol { list-style: decimal; margin-left: 3em; padding:0.5em 0;}

div.forum-code-box ol li
{
	list-style: decimal-leading-zero;
	list-style-position: outside !important;
	padding: 0 0.5em 0 1.5em !important;
	margin: 0;
	line-height: 1.5em;
}

/* Reply Form*/
div.forum-reply-form
{
	border-style:solid;
	border-width:1px;
	line-height:1.5em;
	margin-bottom:1em;
}

div.forum-reply-header
{
	font-size:1em; 
	padding:0.462em 1.117em;
	vertical-align:middle;
}

div.forum-note-box {border-width:1px; border-style: solid; margin: 1.117em 0; padding: 0.4em 1.117em;}
div.forum-reply-form div.forum-note-box { margin: 1.117em;}
div.forum-note-box ul {padding:0.3em 0 0.3em 2em; margin:0;}
div.forum-note-box ul li {margin:0; padding:0;}

div.forum-reply-fields { padding:0 1.117em 0.8em; }

div.forum-reply-field { padding-bottom: 0.462em; margin-top: 0.462em; }

div.forum-reply-field-title input, div.forum-reply-field-desc input { width: 80%;}

div.forum-reply-field-title label, div.forum-reply-field-desc label, div.forum-reply-field-tags label, div.forum-reply-field-captcha-label label,
div.forum-reply-field-lastedit-reason label {display: block;}

div.forum-reply-field-user {width: 100%; /*IE Fix or zoom:1 */}

div.forum-reply-field-author, div.forum-reply-field-email { float:left; width:39%; }

div.forum-reply-field-user-sep { width:2%; float: left;}

div.forum-reply-field-author input, div.forum-reply-field-email input { width:100%; }

div.forum-reply-field-bbcode { line-height: 1.7em; }


div.forum-bbcode-line { margin-right: 2em; float: left;}
div.forum-smiles-line { white-space: nowrap; float: left; }
div.forum-bbcode-line img, div.forum-smiles-line img { border: 0;}
div.forum-bbcode-line a, div.forum-smiles-line a {vertical-align: middle;}

div.forum-bbcode-line a
{
	width: 20px;
	height: 20px;
	float: left;
	margin-right: 0.2em;
	background-position: center center; 
	background-repeat:no-repeat;
	display: block;
}
div.forum-bbcode-line a, div.forum-bbcode-line img, div.forum-smiles-line a, div.forum-smiles-line img { outline: none; }
div.forum-bbcode-line select { float: left; margin-left:3px; padding:0px; height:20px;} 

/*BBCode Icons*/
a.forum-bbcode-bold {background-image: url(images/bbcode/font_bold.gif);}
a.forum-bbcode-italic {background-image: url(images/bbcode/font_italic.gif);}
a.forum-bbcode-color {background-image: url(images/bbcode/font_color.gif);}
a.forum-bbcode-underline{background-image: url(images/bbcode/font_underline.gif);}
a.forum-bbcode-strike{background-image: url(images/bbcode/font_strike.gif);}
a.forum-bbcode-url{background-image: url(images/bbcode/font_link.gif);}
a.forum-bbcode-img{background-image: url(images/bbcode/font_image.gif);}
a.forum-bbcode-video{background-image: url(images/bbcode/font_video.gif);}
a.forum-bbcode-code{background-image: url(images/bbcode/font_code.gif);}
a.forum-bbcode-quote{background-image: url(images/bbcode/font_quote.gif);}
a.forum-bbcode-video{background-image: url(images/bbcode/font_video.gif);}
a.forum-bbcode-list{background-image: url(images/bbcode/font_list.gif);}
a.forum-bbcode-translit{background-image: url(images/bbcode/font_translit.gif);}

div.forum-reply-field-text textarea { width: 95%; }

div.forum-reply-field-tags { display: none; }
div.forum-reply-field-tags input { width:80%; }

div.forum-reply-field-lastedit-reason input { width: 80%;}

div.forum-reply-field-captcha input { width: 180px;}

div.forum-reply-field-settings input, div.forum-uploaded-file input, div.forum-reply-field-lastedit-view input { width:1.55em; height:1.55em; margin:0 0 0 -0.25em; vertical-align: middle; font-size:1em; }
div.forum-reply-field-settings label, div.forum-uploaded-file a, div.forum-reply-field-lastedit label { vertical-align: middle; }

div.forum-reply-field-upload a { outline: none;}
div.forum-upload-file-hint { display: none;}
div.forum-upload-file-hint span { font-weight: bold;}
div.forum-upload-file {display: none; margin-top: 0.262em;}
div.forum-upload-file input {font-size:1.184em; }

div.forum-reply-buttons { margin-top: 1em;}
div.forum-reply-buttons input { padding:0 0.5em; font-size:1.184em; overflow: visible; /*IE paddings*/}

/* Utils */
div.forum-clear-float { clear: both; }


/* Table Header, Reply Form Header, BBCode Icons Highlighting */
div.forum-reply-header, div.forum-bbcode-line a:hover, div.forum-bbcode-line a:hover img { background-color: #e7e7e7; }

/* Table Cell Border */
div.forum-info-box, div.forum-reply-form { border-color: #e1e1e1;}

/* Table Cell, Info Box, Reply Form */
div.forum-info-box, div.forum-reply-form { background:#fbfbfb; }

/* Selected (via checkbox) Table Cell and Row */
table.forum-post-selected td.forum-cell-post, 
table.forum-post-selected td.forum-cell-actions { background: #ebecec !important; }

/* Table Footer and Alone Footer Box */
table.forum-post-table td.forum-column-footer, div.forum-footer-box { background: #eaeaea; }

/* Post Table: User Info and User Contacts Cells*/
table.forum-post-table td.forum-cell-user, table.forum-post-table td.forum-cell-contact { background: #f1f1f1; }

/* Post Table: Post and Actions Cell */
table.forum-post-table td.forum-cell-post, table.forum-post-table td.forum-cell-actions { background: #fbfbfb; }

div.forum-post-date { background: #eaeaea; border-bottom: none; }


/* ---------------------------------------------------Borders----------------------------------------------------- */

/* Menu Items, Page Navigation */
div.forum-page-navigation a, span.forum-page-current, div.forum-page-navigation a.forum-page-previous, span.forum-page-dots { border-color: #d5d5d5; }

/* Table Footer and Alone Footer Box */
table.forum-post-table td.forum-column-footer{ border-color: #d0d3d6; }

/* Footer Item Separator */
span.forum-footer-option { border-color: #b5b5b5; }

/* Topic posts table (separator line) */
table.forum-post-table { border-top-color: #fff; border-bottom-color: #ccc; }

/* Post Table: User Info and User Contacts Cells*/
table.forum-post-table td.forum-cell-user, table.forum-post-table td.forum-cell-contact { border-left-color: #dbdbdb; border-right-color: #e1e1e1; }

/* Post Table: Post and Actions Cell */
table.forum-post-table td.forum-cell-post, table.forum-post-table td.forum-cell-actions { border-right-color: #dbdbdb; }

/* Post Table: User Contacts and Actions Cell */
table.forum-post-table td.forum-cell-contact, table.forum-post-table td.forum-cell-actions { border-top-color: #e1e1e1; }

/* User Signature*/
div.forum-signature-line { border-top-color: #e1e1e1; }

/* ---------------------------------------------------Text Color-------------------------------------------------- */

/* Header Box Right Links*/
div.forum-header-box a:link, 
div.forum-header-box a:visited, 
div.forum-header-box a:active, 
div.forum-header-box a:hover { color: #fff; }

.forum-required-field { color: red; }

/* --------------------------------------------------Special Elements---------------------------------------------- */

div.forum-header-box { color: #fff; background:#6c6c6c; border-color: #7a7a7a;}

/* Page navigation */
div.forum-navigation-box { background:#fff; border-color: #e1e1e1; }

/*BBCode: Quote and Code*/
table.forum-quote, table.forum-code, div.forum-code-box {  border-color: #c3c3c3; }
table.forum-quote td, table.forum-code td, div.forum-code-box ol {background:#fff !important; color:#696969;}
table.forum-quote th, table.forum-code th, div.forum-code-box {background:#e6e6e6 !important; color:#616161;}

div.forum-note-box {border-color: #ffc85e; background: #fffdc7; }
/* --------------------------------------------------Icons---------------------------------------------- */
table.palette{border:1px solid gray; background-color:gray; border-collapse:collapse;}
table.palette td{border:1px solid gray; width:10px; height:10px; padding:0px; margin:0;}
table.palette td img{width:10px; height:10px; border:none; padding:0px; margin:0;}
/* Popups */
div.forum-popup-postform {
	width:502px;
	padding:0px; 
	margin:0;
	overflow:hidden; 
	color:black;}
div.forum-popup-postform table.forum-popup {
	border:1px solid gray;
	width:500px;
	background-color:white; 
	font-size:1em;
	cursor:default;}
div.forum-popup-postform table.forum-popup td {
	font-size:1em;
	border:none;
	background-color:white; 
	font-size:1em;}
div.forum-popup-postform table.forum-popup thead td {
	font-weight:bold;
	padding:0.5em 0.5em 0.1em 0.8em;
	font-size:1.1em;
	text-align:left;}
div.forum-popup-postform table.forum-popup thead td div.close{
	cursor:pointer;
	cursor:hand;
	background-image: url('images/close.gif');
	background-position: center center;
	background-repeat:no-repeat;
	overflow:hidden;
	width:13px;
	height:13px;
	float:right;}
div.forum-popup-postform table.forum-popup tbody td {padding:1em;}
div.forum-popup-postform table.forum-popup tbody td div.forum-field{width:100%;}
div.forum-popup-postform table.forum-popup tbody td div.forum-field span.title{width:100%; display:block;}
div.forum-popup-postform table.forum-popup tbody td div.forum-field input {width:95%;}
div.forum-popup-postform table.forum-popup tfoot td {padding:0.3em; text-align:center;}
/*/Popups */

div.forum-smiles-line, div.forum-smiles-line a, div.forum-reply-field-bbcode div.forum-reply-field-showsmiles{float:left;}
div.forum-smiles-line span.forum-smiles-item{display:block;float:left;border:none;margin:0;padding:0;overflow:hidden;}
div.forum-smiles-line span.forum-smiles-item a{text-decoration:none;border:none;float:left;margin-right:5px;}
div.forum-smiles-line div.forum-smiles-item{float:left;}
div.forum-smiles-corrected{overflow:hidden;}

body.forum-popup-body{padding:1.51em; font-size:0.75em;}
form.forum-form{padding:0;margin:0;}