html, body, #content, #main, #static{background-color:white!important;height:auto!important;}
#header-item{height:184px;width:100%!important;}
header{height:222px;position:relative;width:100%!important;z-index:12;background:white!important;}
.wrapp{margin:0 auto;min-width:100%!important;position:relative;width:100%!important;}
footer{overflow:hidden;}
.footer-catalog{left:10%!important;}
#logo{height:163px;left:0px!important;position:relative!important;top:0px!important;width:auto!important;z-index:200;max-width:144px;}
.block-informer{background:none!important;font:12px Arial;height:auto;padding:2px 10px 2px 10px!important;position:absolute;right:10px;top:0;width:auto!important;border-radius:5px;z-index:200;background-color:rgb(195, 195, 195)!important;}
.block-register{background:url(images/tmp/lock.png) no-repeat 2px 0!important;background-size:12px;float:none;height:38px;line-height:15px;margin-bottom:0px;max-width:100%!important;padding:0 0 0 16px;display:inline-block;}
.cart-informer{background:url(../images/tmp/basket.png) no-repeat 2px 1px!important;background-size:19px;color:#1b2b38;float:none;font-size:11px;height:18px;line-height:15px;padding:0 0 0 25px;text-transform:uppercase;display:inline-block;}
.block-informer br{display:none!important;}
header .tel{color:#f16522;font:38px Arial;font-style:italic;left:inherit;right:10px;position:absolute;top:80px;z-index:200;}
@media screen and (max-width:780px) and (min-width:700px){#welcome p img{width:50%!important;height:auto;}
}
@media screen and (max-width:699px) and (min-width:627px){#welcome p img{width:40%!important;height:auto;padding-top:20px;}
}
@media screen and (max-width:626px) and (min-width:550px){#welcome p img{width:35%!important;height:auto;padding-top:30px;}
}
@media screen and (max-width:549px) and (min-width:481px){#welcome p img{width:30%!important;height:auto;padding-top:35px;}
}
@media screen and (max-width:480px){#welcome p img{display:none;}
.header-search{display:none!important;}}
@media screen and (max-width:367px){.apple-tel{font-weight:bold;font-size:25px!important;}
}
@media screen and (max-width:555px) and (min-width:451px){.header-search input[type="text"]{width:220px !important;}
#logo img{margin-top:18px!important;height:90%!important;}}
@media screen and (max-width:450px) and (min-width:369px){.header-search input[type="text"]{width:120px !important!;}#logo img{margin-top:18px!important;height:90%!important;}}
@media screen and (max-width:368px) and (min-width:350px){.header-search input[type="text"]{width:120px !important!;}#logo img{margin-top:18px!important;height:90%!important;}}
@media screen and (max-width:349px){.header-search input[type="text"]{width:80px !important!;}
.social{display:none;}}
#clear-button img{display:none!important;}
#welcome{top:15px!important;width:100%!important;text-align:center;left:0px!important;z-index:-1!important;}
.social{overflow:hidden;position:absolute;right:10px!important;top:65px!important;z-index:99999;zoom:0.8;-webkit-transform:scale(0.8);-moz-transform:scale(0.8);-ms-transform:scale(0.8);-o-transform:scale(0.8);transform:scale(0.8);}
.header-search input[type=text]{background:none!important;border:1px solid #bdbdbd;float:left;height:27px;padding:0 5px;width:320px;}
.header-search input[type=button], .header-search input[type=submit]{background:#f16522!important;color:white!important;font:12px/28px Arial;font-weight:bold;height:30px;margin-left:5px;text-transform:uppercase;width:77px;}
.header-search{position:absolute;right:10px;left:0px!important;width:auto !important;}
.header-menu{-moz-transition:all 0.3s linear;-o-transition:all 0.3s linear;-webkit-transition:all 0.3s linear;left:0px!important;position:absolute;top:183px;width:100%!important;background-color:#f16522;overflow:hidden;}
.header-menu menu > li{-moz-transition:all 0.3s linear;-o-transition:all 0.3s linear;-webkit-transition:all 0.3s linear;background:none!important;float:none;display:inline-block;height:26px;list-style:none;padding:11px 20px 11px 20px;border-right:1px solid rgba(247, 247, 247, 0.3)!important;}
.visib:hover{background-color:#f16522!important;}
.header-menu > menu{text-align:center;height:37px;margin:0px;-moz-transition:all 0.3s linear;-o-transition:all 0.3s linear;-webkit-transition:all 0.3s linear;}
.header-menu menu.active li.none:hover,.header-menu menu li.none:hover,.ch:hover{background-color:rgba(255, 255, 255, 0.23)!important;-moz-transition:all 0.3s linear;-o-transition:all 0.3s linear;-webkit-transition:all 0.3s linear;}
.header-menu menu li.none:hover{background-color:rgba(255, 255, 255, 0.23)!important;}
.visib{display:none!important;margin-left:30px;}
@media screen and (max-width:972px){.no-mobile{display:none!important;}
.block-informer{display:none!important;}
.social{display:none!important;}
menu li{display:block!important;-moz-transition:all 0.3s linear;-o-transition:all 0.3s linear;-webkit-transition:all 0.3s linear;}
menu.none{display:block!important;-moz-transition:all 0.3s linear;-o-transition:all 0.3s linear;-webkit-transition:all 0.3s linear;}
#content{z-index:1!important;}
.visib:before{content:' ';-moz-transition:all 0.3s linear;-o-transition:all 0.3s linear;-webkit-transition:all 0.3s linear;background:url(/bitrix/templates/store_minimal_blue/images/scss-menu-icon.png) -6px 0px no-repeat;background-size:54px;height:35px;width:40px;position:absolute;margin-left:-50px;margin-top:-10px;border-radius:10px;}
menu:hover .visib:before, .visib:hover .visib:before{content:' ';-moz-transition:all 0.3s linear;-o-transition:all 0.3s linear;-webkit-transition:all 0.3s linear;background:url(/bitrix/templates/store_minimal_blue/images/scss-menu-icon2.png) -6px 0px no-repeat;background-size:54px;height:35px;width:40px;position:absolute;margin-left:-50px;margin-top:-10px;border-radius:10px;}
.visib{display:block!important;text-transform:uppercase;color:white;font-weight:bold;font-size:15px;letter-spacing:5px;}
.header-menu menu > li.visib{display:block;}
.header-menu menu > li{}
menu:hover li,menu:hover li a{display:block!important;z-index:9999999999;height:auto;-moz-transition:all 0.3s linear;-o-transition:all 0.3s linear;-webkit-transition:all 0.3s linear;}
menu:hover{display:block!important;z-index:9999999999;height:auto;-moz-transition:all 0.3s linear;-o-transition:all 0.3s linear;-webkit-transition:all 0.3s linear;}
.header-menu menu > li a{}
.uvelir {display:none!important;}
}
}
.main-catalog li{float:none!important;list-style:none;margin:0 2px;text-align:center;width:150px;display:inline-block;}
#main #content{padding-right:0;width:100%!important;margin-top:35px;text-align:left;margin:0 auto;}
.section-text-after{text-align:left;}
.block-product .product > .img{background:#fff;height:150px;overflow:hidden;width:190px;}
.block-product .product > .img img{max-height:152px;max-width:190px;height:auto!important;width:auto!important;border-radius:5px;}
.block-product .product{float:none!important;display:inline-block;margin:10px 23px 10px 0;position:relative;text-align:center;width:190px;border:1px solid #f16522;border-radius:5px;padding:5px;overflow:hidden;}
.block-product .product .name{color:#020202;display:block;font-size:14px;height:31px;margin:10px 1px 10px 1px;max-height:50px;overflow:hidden;text-decoration:none;}
.block-product .product .price{position:relative!important;left:-10px!important;top:7px!important;color:#f16522!important;display:inline-block;font-size:18px;font-style:italic;font-weight:bold;width:110px;}
.block-product .buy-btn{background:#f16522;border:none!important;position:relative;left:-20px;top:6px;color:#ffffff!important;cursor:pointer!important;border:navajowhite;height:35px!important;line-height:20px;padding-left:0px!important;text-transform:uppercase;width:100px;font-size:12px;}
.block-product{text-align:center;}
.block-product .buy-btn:hover{background:rgb(241, 132, 80);-moz-transition:all 0.3s linear;-o-transition:all 0.3s linear;-webkit-transition:all 0.3s linear;}
.block-product .product:before, .block-product .product:after{content:"";position:absolute;z-index:-2;}
.block-product .product:hover{background:#fff;-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;-webkit-box-shadow:0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;-moz-box-shadow:0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;box-shadow:0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;-moz-transition:all 0.3s linear;-o-transition:all 0.3s linear;-webkit-transition:all 0.3s linear;}
.block-product .product:hover .block-product .product > .img img{zoom:0.9;-webkit-transform:scale(0.9);-moz-transform:scale(0.9);-ms-transform:scale(0.9);-o-transform:scale(0.9);transform:scale(0.9);-moz-transition:all 0.3s linear;-o-transition:all 0.3s linear;-webkit-transition:all 0.3s linear;}
.block-product .product:hover .buy-btn{background:rgb(241, 132, 80);-moz-transition:all 0.3s linear;-o-transition:all 0.3s linear;-webkit-transition:all 0.3s linear;}
.product a:hover{text-decoration:none!important;}
.main-catalog li{float:none;display:inline-block;list-style:none;margin:0 2px;text-align:center;vertical-align:middle;}
.main-catalog{padding:25px;margin-top:-13px!important;overflow:hidden;margin:0 auto;text-align:center!important;background-color:#f1f1f1;border-radius:5px;}
h1{background-color:#f16522;width:170px;margin-top:0px;border-radius:1px 1px 50px 1px;color:white;font:24px/20px Arial;padding:10px 10px 10px;}
.section-text-after h1{width:80%!important;text-align:left!important;}
.static h1{width:80%!important;text-align:left!important;}
.section-text-after p{padding-left:30px;padding-right:30px;}
.section-text-after h2{padding-left:30px;}
 
#sidebar-left{float:left;min-height:0px;padding-top:25px;position:relative;max-width:260px;width:30%;z-index:1;}
#content{overflow:hidden;    padding: 5px 0px 0px 5px;}
.downer,div#sidebar-left downer {display:none;}
@media screen and (max-width:680px){#content{width:90%!important;overflow:hidden; } 
#sidebar-left{float:none!important;width:100%!important;min-width:auto!important;}
#left-menu .selected_section {display: none;}

}
#left-menu.catalog-menu li a:hover{font-size:16px!important;}
.header-search input[type="text"]{width:60% !important;}
.static{padding:10px;width:100%!important;}
.product div div{margin-top:10px;}
.buy .tbl_s3_b{background:#f16522;border:none!important;position:relative;left:-20px;top:6px;color:#ffffff!important;cursor:pointer!important;border:navajowhite;padding-left:0px!important;text-transform:uppercase;width:100px;font-size:12px;}
.product-card .text{float:none!important;display:inline-block;text-align:center;width:40%;}
.product-card{padding:0px;position:relative;z-index:10;display:block;vertical-align:top;}
.left, .search-products .block-set, .block-amount .amount, .product-card .images{float:none!important;display:inline-block;width:50%;vertical-align:top;}
.product-card .image .picture img{/*max-height:1319px;max-width:320px;width:100%;*/     width: 100%;
    height: auto;}
.text input#catalog_add2cart_link{background:#f16522;border:none!important;position:relative;color:#ffffff!important;cursor:pointer!important;border:navajowhite;height:35px!important;line-height:20px;padding-left:0px!important;text-transform:uppercase;font-size:12px;}
.text .price div a.add_orders{background:#f16522;border:none!important;position:relative;left:0px;top:0px;color:#ffffff!important;cursor:pointer!important;border:navajowhite;height:35px!important;padding-left:0px!important;text-transform:uppercase;width:100px;font-size:12px;text-shadow:none;}
input#present_button{background:#f16522;border:none!important;position:relative;color:#ffffff!important;cursor:pointer!important;border:navajowhite;height:35px!important;padding-left:0px!important;text-transform:uppercase;font-size:12px;text-shadow:none;}
.text .name h1{width:100%!important;text-align:left!important;}
.product-card .information{margin:22px auto 45px;overflow:hidden;width:100%;padding:0px 10px 0px 10px;}
.product-card .information .block-left{float:none!important;width:45%!important;display:inline-block;vertical-align:top;}
.product-card .information .block-right{float:none!important;width:45%;display:inline-block;vertical-align:top;}
.text .price div{text-align:center!important;width:100px!important;margin:0 auto!important;padding-left:0px!important;}
.social-buttons{width:100%;}
.block-product{width:100%;}
.likes{max-width:100%!important;overflow:hidden;}
.block-product,div#products_slider_1{width:100%!important;overflow:hidden;}
@media screen and (max-width:600px){.left, .search-products .block-set, .block-amount .amount, .product-card .images{float:left!important;width:100%!important;}
.product-card .text{float:left!important;width:100%!important;}
}
.main-catalog ul li:hover{background:#fff;-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;-webkit-box-shadow:0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;-moz-box-shadow:0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;box-shadow:0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;-moz-transition:all 0.3s linear;-o-transition:all 0.3s linear;-webkit-transition:all 0.3s linear;}
.main-catalog ul li{-moz-transition:all 0.3s linear;-o-transition:all 0.3s linear;-webkit-transition:all 0.3s linear;border:1px solid #d85815;border-radius:5px;padding:5px;margin-bottom:5px;height:auto;max-height:240px;box-shadow:0 0 1em rgba(0, 0, 0, 0.22);}
.main-catalog ul li a p{display:inline-block;vertical-align:middle;padding:0px;}
.mnu_name{position:relative;left:-5px;top:5px;width:160px;height:56px;background-color:#f16522;color:white;padding:0px;margin:0px;}
@media screen and (max-width:680px){#sidebar-left{max-width:100%;}
ul#left-menu{border:none!important;border-left:none!important;}
#left-menu li{display:inline-block;padding:6px;margin:3px;background-color:#f16522;}
#left-menu.catalog-menu li a {text-align:center;}
#left-menu li a{color:white!important;padding:5px;}
}header .tel .apple-code {font-size: 18px!important;}
.main-catalog li a {    font-size: 15px!important;}
.catalog-item-sorting {display:none;}
.uvelir {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    display: block;
    background-color: black;
    z-index:999999;
    border-top: 3px #d85815 solid;
}
.uvelir p {
    display: inline-block;
    text-align: right;
    width: 85%;
    color: white;
    font-size: 16px;
    margin: 0px;
    padding: 13px 10px 10px 10px;
    text-transform: uppercase;
}
.uvelir a {
    display: inline-block;
    float: right;
    font-size: 16px;
    padding: 10px;
    background: rgb(241, 101, 34);
    color: white!important;
    height: 100%;
    cursor: pointer!important;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}
.uvelir a:hover {background: rgb(241, 132, 80)!important;}

@media screen and (max-width:743px;) {
.uvelir a {float: none!important;width: 100%;} 
.uvelir a div {text-align: center;}
}
p.MsoNormal, p.MsoNormal span, p.MsoNormal b span,.section-text-after div{
    padding: 0px!important;
    margin: 0px!important;
    font-size: 17px!important;
    line-height: 1.3!important;
    font-family: 'Times New Roman', serif!important;
}
#popupform .error{color:#c00000}#popupform h2{color:#353535;font:1.714em/1em 'Trebuchet MS';margin-bottom:8px}#popupform .comment{color:#717171;font:.928em 'Trebuchet MS';margin-bottom:3px}#popupform label{display:block;padding:16px 0 4px}#popupform .input_text{background-color:#fff;border:1px solid silver;border-radius:3px;color:#555;display:block;font-size:12pt;height:28px;margin:17px 6px 0 0;padding:5px;width:360px}#popupform .button{background-color:#fff;border:1px solid #ccc;border-radius:3px;color:#555;cursor:pointer;font-size:14px;font-weight:700;height:34px;margin:10px 0;padding:2px 16px;width:185px}#popupform .button:hover{background-color:#4683ea;border:1px solid #4387fd;color:#fff}
#popupform div form  input, #popupform div form  select, #popupform div form  textarea {
    font-family: Verdana, Arial, sans-serif;
    font-size: 10pt;
    color: #000000;
    border: 1px solid rgb(197,200,204);
    background-color: rgb(228,230,233);
    display: block;
    padding: 10px 10px 10px 40px;
	width: 100%;
    border-radius: 5px;
	margin:5px;
}
.fa:before {    position: relative;
    top: 10px;}
#popupform div form  i {
    position: absolute;
    height: 38px;
    width: 38px;
    text-align: center;
    display: block;
    vertical-align: middle;
    font-family: FontAwesome;
    font-size: 11pt;
    color: #ffffff;
    background-color: #f16522;
    border-radius: 5px 0 0 5px;
	margin-left: 5px;
}

input[type="file"] {
    height: 15px!important;
}

#popupform div form  button, #popupform div form  input[type="button"], #popupform div form  input[type="reset"], #popupform div form  input[type="submit"] {
    display: inline-block;
    float: right;
    font-size: 16px;
    padding: 10px;
    background: rgb(241, 101, 34);
    color: white!important;
    height: 100%;
    cursor: pointer!important;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
	width:auto;
		
}

#popupform div form  {width:50%;text-align: left;}
span.nav-current-page {
    background: #f16522;
    color: #fff;
    font-size: 1em;
    font-weight: 400;
    padding: .5em;
    min-width: 1em;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 36px;
    height: 36px;
    margin: 0 1px 1px 0!important;
    transition: all .1s;
    border-radius: 10px 0 10px 0;
}

.navigation-pages a {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 36px;
    height: 36px;
    margin: 0 1px 1px 0!important;
    background: #CCCCCC;
    transition: all .1s;
    line-height: 32px;
    color: #333;
    text-decoration: none;
    border-radius: 10px 0 10px 0;
}

.navigation-pages {
    background-color: #ededed;
    padding: 5px;
    border-radius: 3px;
}


.navigation-pages a:hover {
    background: #f16522;
}

.notetext {
    font-size: 25px;
    color: green;
}

.dops_text {
    top: 77px;
    position: absolute;
    width: 100%;
}


@media screen and (max-width:700px) {
.dops_text {width: auto!important;right: 0px!important;}	 }

@media screen and (max-width: 845px){
.dops_text {  top: -28px!important;} }

@media screen and (min-width: 900px){
.dops_text p{ font-size: 18px!important;   font-weight: bold!important; } }

@media screen and (max-width: 900px){
.dops_text p{ font-weight: bold!important; font-size:16px; } }

@media screen and (max-width:1024px) {
#content h1 {
margin-top: 35px;
width:80%;
}
}

.product-card .image .picture img {
    max-height: inherit!important;
    max-width: 300px!important;
}