@charset "utf-8";
#left-menu.catalog-menu li a{
	color:#555;
	font-size:16px;
}
#left-menu.catalog-menu li.selected_section a{
	color:#222;
	font-size:14px;
	font-weight:bold;
}
.form-input input[type=password], .form-input input[type=text]{
	width:100%;
	font-size:120%;
}
.catalog-root-link{
	padding:0 0 10px 13px;
}
.catalog-root-link a, .catalog-root-link a:link, .catalog-root-link a:visited, .catalog-root-link a:active{
	color:#222;
	font-size:16px;
	cursor:pointer;
	text-transform:uppercase;
	font-weight:bold;
}
.catalog-subsection-title a{
	font-size:14px!important;
}
label.field-title{
	font-size:130%;
	font-weight:bold;
	padding:5px 0;
	display:block;
}
#search_switch_mode{
	position:absolute;
	left:0px;
	top:-33px;
}
div.viewed_product{
	position:relative!important;
}
input.red-border{
	border:1px solid #ff0000;
}
.section_title{
	color:#333;
	font-size:12px;
	padding:3px 0 3px 3px;
}
.welcome{
margin:0;
padding:0 0 0 7px;
font-size: 11px;
line-height: 12px;
}
.welcome .firstname{
	text-transform:uppercase;
}
.reserved{
margin:12px 0 4px 0;
height:32px;
font-weight:bold;
text-transform:uppercase;
}
.present_form{
	padding:10px;
	overflow:hidden;
}
.present_form h2{
	text-align:center;
}
.present_form input[type=text], textarea{
	width:95%;
}
#product_description{
	width:230px;
	float:left;
	overflow:hidden;
	padding:0 0 0 10px;
}
#present_form{
	margin-left:250px;
}
.disabled_link{
	color:#787878!important;
}
.user_alert{
	background:#fff;
	border:1px solid red;
	text-align:center;
	margin:16px 0;
}
.uniformed{
	top:0!important;
	left:0!important;
}
/*
.uploader .action{
	border:1px solid red!important;
	cursor:pointer!important;
}
*/
.uploader{
	overflow:hidden!important;
}
.file{
	/*opacity:1!important;
	border:1px solid red!important;
	*/
	display:block!important;
	top:0px!important;
	left:0px!important;
	width:140px!important;
	height:30px!important;
	overflow:hidden!important;
	font-size:24px!important;
}

#container_404{
	width:680px;
	overflow:hidden;
	margin:0 0 30px 0;
}
.left_404, .right_404{
	float:left;
	width:320px;
}
.left_404{
	color: #D85815;
	text-align:center;
}
.left_404 .title_404{
	font-size:120px;
	margin:60px 0 45px;
}
.left_404 .descr_404{
	font-size:20px;
}
.right_404{
	border-left:1px dotted #666;
	padding:0 0 0 30px;
}
.site_map_404 ul {
	list-style:none;
	padding:0 0 0 15px;
}
.site_map_404 ul li a, .site_map_404 ul li a:link, .site_map_404 ul li a:visited, .site_map_404 ul li a:active{
	color: #D85815;
	font-size:12px;
	text-decoration:none;
}
.site_map_404 ul li a:hover{
	font-size:14px;
	text-decoration:underline;
}
.block-filter {
	display:block!important;
}
.button-submit{
	overflow:hidden;
	padding:5px 0;
}
.personal-account p, .personal-account a{
	font-size:14px;
}


.metro-station-string{
	color:#777;
}
.metro-station-info{
	font-size:11px;
	color:#666;
	margin:2px;
}
.left-menu li ul{
	padding:0;
}
.footer-catalog .left-menu ul li{margin: -7px 0;}
.variants p, .note{
	margin:0 0 5px;
	color:#555;
	font-size:11px;
}
.field_error{
	border:1px solid red!important;
}