.tel a {color:#f16522!important;    text-decoration: none!important;}
#left-menu{border:1px solid #FF7A01;border-left:7px solid #FF7A01;border-radius:0px 5px 5px 0px;list-style-type:none;margin:0;padding:0;font-family:Tahoma;}
#left-menu .selected_section{background:#FF7A01;padding:4px;}
#left-menu li{padding:4px;margin:0px;}
#left-menu a{font-size:1.1em;outline:none;text-decoration:none;width:100%;}
#left-menu .selected_section a{font-size:1.1em;outline:none;text-decoration:none;color:#fff;}
#left-menu ul a{font-size:0.95em !important;outline:none;vertical-align:top;}
#left-menu li.current{padding:0;overflow:hidden;display:block;margin-top:0.3em;}
#left-menu li.current ul{padding:0 0 0 12px;}
#left-menu .current a{padding:1px 10px 2px 13px;display:block;font-style:normal;font-size:0.95em !important;vertical-align:top;}
#left-menu .current ul a{padding:0;}
#left-menu ul{font-weight:normal;margin:0.5em 0 0 -4px;padding:0;list-style-type:none;}
#left-menu ul ul{margin:0.5em 0 0 0em;}
#left-menu li li{margin-bottom:0.5em;padding:0 13px 0;text-indent:0;background:none;}
#left-menu li{padding:4px;margin:0px;}
#left-menu li li li{margin-bottom:0.3em;}
#cart{position:absolute;top:0;right:0;width:200px;overflow:hidden;}
#cart div.block-content{height:78px;padding:0 18px;}
#cart .corners{overflow:hidden;height:5px;}
#cart .corner{width:5px;height:5px;}
#cart .left-bottom{float:left;background-position:-5px 0;}
#cart .right-bottom{float:right;}
#cart, #cart a{outline:none;}
#cart p.auth{margin:0;position:absolute;overflow:hidden;}
#cart p.cart{margin:0;height:50px;position:absolute;top:6px;overflow:hidden;}
#cart i, #cart a{display:block}
#cart #cart_line{display:block;position:absolute;top:45px;}
#cart i{margin-top:10px;font-style:normal;padding-right:25px;}
#cart i a{text-decoration:none;}
#cart i a:hover{text-decoration:underline;}
#compare{overflow:hidden;position:absolute;bottom:0;right:0;width:200px;height:22px;}
#compare .corner{width:5px;height:5px;background-position:0 -542px;}
#compare .left-top{float:left;background-position:-5px -542px;}
#compare .right-top{float:right;}
#compare .block-content{padding:2px 18px 4px;}
#compare a{text-decoration:none;outline:none;}
#compare a:hover{text-decoration:underline;}
#compare a.close{position:absolute;right:8px;top:9px;width:6px;height:5px;}
#content-wrapper{position:relative;margin:0 auto;width:990px;}
#search{width:190px;overflow:hidden;float:right;margin-top:2px;margin-right:4px;}
#search .form-textbox{float:left;width:135px;}
#search .form-textbox-border{padding-left:20px;height:20px;overflow:hidden;}
#search .form-textbox-border input{width:110px;height:18px;}
#search .form-button{float:right;width:48px;}
#search .form-button input{width:48px;}
#subscribe{}
#subscribe .form-textbox-border{float:left;height:20px;width:100%;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-khtml-box-sizing:border-box;}
#subscribe .form-textbox-border input{width:95%;float:left;padding:0 2px;height:18px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-khtml-box-sizing:border-box;}
#subscribe .form-button{float:right;clear:left;margin-top:10px;}
#subscribe .form-button input{padding:0 3px;overflow:visible;}
.form-box input{vertical-align:top;}
.form-textbox-border input{border:1px solid;padding:0;margin:0;}
.form-textbox-border{border:1px solid;}
.form-button{border:1px solid;}
.form-button input::-moz-focus-inner{border:0;padding:0;}
.form-button input{display:block;border:none;background:none;padding:0;margin:0;cursor:pointer;outline:none;font-family:Georgia, serif;font-size:12px;height:19px;}
#left-column{float:left;width:200px;padding-top:4px;}
#workarea{float:right;width:773px;}
div.sidebar-mode #workarea{width:555px;margin-right:17px;}
#sidebar{width:200px;float:right;padding:26px 0 0 0;}
#footer-wrapper, #footer, #space-for-footer{height:85px;}
#footer{position:relative;width:990px;margin:0 auto;}
div.rounded-block{padding:10px 0;overflow:hidden;position:relative;margin:0 0 2em;}
div.rounded-block div.corner{height:20px;width:20px;position:absolute;left:-10px;top:-10px;overflow:hidden;}
div.rounded-block div.right-top, div.rounded-block div.right-bottom{margin-left:100%;}
div.rounded-block div.left-bottom, div.rounded-block div.right-bottom{top:auto;}
div.rounded-block div.block-content{padding:0 21px;}
div.inline-filter{margin:0.5em 0 2em;}
div.inline-filter b{padding:0.2em 0.3em 0.3em;font-weight:normal;}
div.inline-filter b, div.inline-filter a{margin-right:0.5em;}
table.catalog-item-filter{width:100%;}
div.catalog-item-filter-body{width:50%;display:block;padding-bottom:1em;}
div.catalog-item-filter-body-inner{padding:0.5em 1em;}
div.catalog-item-filter-title{padding-bottom:1em;display:none;}
#js div.catalog-item-filter-title{display:block;}
#js div.catalog-item-filter-body{display:none;}
#js div.filter-active div.catalog-item-filter-body{display:block;}
div.catalog-item-filter-title a{text-decoration:none;border-bottom:1px dashed;outline:none;}
div.filter-active div.catalog-item-filter-title span{padding:0.35em 0.5em 0.65em;display:inline-block;}
table.catalog-item-filter td{padding:0.3em 0;}
table.catalog-item-filter td.field-name{font-size:0.95em;width:55%;}
table.catalog-item-filter td.field-control{font-size:0.95em;width:45%;}
table.catalog-item-filter tfoot td.field-control{white-space:nowrap;}
span.filter-textbox{display:block;width:100%;}
span.filter-textbox input{width:95%;float:left;}
span.filter-dropdown select{width:100%;}
div.catalog-item-sorting{padding:1em 0 1em;}
div.catalog-item-sorting a{margin:0 0.3em;}
div.catalog-item-sorting a.selected{padding:0.4em 0.6em 0.6em;}
div.catalog-item-sorting a.desc{padding-right:1.3em;}
div.catalog-item-sorting a.asc{padding-right:1.3em;}
div.catalog-item-list{padding:1.3em 0 0 0;}
div.catalog-item{overflow:hidden;margin:0;padding:0.65em 0 0.65em 0;position:static;border:1px solid;}
div.catalog-item-separator{background:url(images/fade-catalog.gif) no-repeat left center;height:1.7em;font-size:1em;}
div.catalog-item-info{float:left;width:553px;}
div.catalog-item div.catalog-item-links{float:right;width:188px;}
div.catalog-item-title{margin-bottom:1em;}
div.catalog-item-title a{font-size:1.4em;margin-top:-4px;}
div.catalog-item-title span.sticker, h1 span.sticker{color:red;padding-right:0.5em;padding-right:0.2em;white-space:nowrap;vertical-align:top;}
div.catalog-item-title span.sticker{font-size:1em;}
h1 span.sticker{font-size:0.6em;}
div.catalog-item-preview-text{margin-bottom:1em;}
div.catalog-item-image{float:left;margin:4px 10px 0 0;overflow:hidden;text-align:center;width:75px;}
div.catalog-item-desc{margin-left:87px;}
div.no-picture-mode div.catalog-item-desc{margin-left:0;}
div.catalog-item-price{}
div.catalog-item-price span{padding:0.2em 0.3em;}
span.catalog-price{color:red;}
div.catalog-offers{clear:both;}
div.catalog-item-links a, div.catalog-item-links span{text-decoration:none;padding-left:20px;display:block;float:left;clear:left;margin-bottom:1em;outline:none;white-space:nowrap;}
div.catalog-item-hover{position:relative;}
div.catalog-item-hover div.catalog-admin-links{display:block;}
div.catalog-item-offers{width:466px;position:relative;}
div.catalog-item-offers .table-offers{min-height:43px;}
div.catalog-item-offers div.catalog-item-links{left:496px;position:absolute;}
div.no-picture-mode div.catalog-item-offers div.catalog-item-links{left:583px;position:absolute;}
div.catalog-item-offers div.catalog-item-price{margin-top:10px;}
div.catalog-detail-price-offer{margin-top:15px;margin-bottom:17px;}
div.catalog-item-offers td.catalog-item-offers-field, div.catalog-item-offers td.catalog-item-offers-prop{padding-right:5px;}
div.catalog-detail div.catalog-item-offers div.catalog-item-links{left:0;position:static;}
div.catalog-admin-links{display:none;position:absolute;top:0;right:0;}
div.catalog-admin-links a{display:block;padding:0.3em 0.6em 0.4em;font-size:0.85em;color:white !important;margin:1px 1px 0 0;text-decoration:none;background:#dc1a35 url(images/catalog-item-btn-bg.png) repeat-x 0 0;}
div.catalog-admin-links a:hover{text-decoration:underline;}
div.catalog-admin-buttons{overflow:hidden;margin-top:1.5em;}
div.catalog-admin-buttons a{float:left;background:url(images/admin-button-bg.gif) no-repeat right 0;height:27px;line-height:25px;text-decoration:none;font-family:Arial;font-size:1.2em;padding:0;margin:0 10px 0 0;outline:none;cursor:pointer;}
div.catalog-admin-buttons span{display:block;height:27px;background:url(images/admin-button-bg.gif) no-repeat;margin-right:3px;padding:0 8px 0 11px;float:left;}
div.catalog-admin-buttons a:hover{background-position:right -27px;}
div.catalog-admin-buttons a:hover span{background-position:0 -27px}
div.catalog-section-list{margin:2.1em 0 0 0;}
div.catalog-section{overflow:hidden;margin:0;padding:0.9em 0 0.9em 0;position:static;border:1px solid;cursor:default;}
div.catalog-section-separator{background:url(images/fade-catalog.gif) no-repeat left center;height:1.8em;font-size:1em;}
div.catalog-section-hover{position:relative;}
div.catalog-section-hover div.catalog-admin-links{display:block;}
div.catalog-section-image{float:left;margin-right:10px;overflow:hidden;text-align:center;width:75px;}
div.catalog-section-info{margin-left:87px;}
div.catalog-section-desc{margin-bottom:0.6em;width:80%;}
div.no-picture-mode div.catalog-section-info{margin-left:0;}
div.catalog-section-title{margin-bottom:1em;}
div.catalog-section-title a{font-size:1.4em;line-height:0.7em;}
table.catalog-section-childs{width:80%;}
table.catalog-section-childs td{width:33.33%;padding:0.3em 0.5em 0.3em 0;vertical-align:top;}
table.catalog-section-childs a{padding-left:8px;display:block;}
table.catalog-section-childs a:hover{text-decoration:underline;}
div.catalog-detail{position:static;border:1px solid;}
div.catalog-detail-hover div.catalog-admin-links{display:block;}
div.catalog-detail-hover{position:relative;}
table.catalog-detail td{padding:0;vertical-align:top;}
div.catalog-detail-line{font-size:1px;height:1px;line-height:1px;margin:12px 0;overflow:hidden;padding:0;background:url(images/title-line.gif) no-repeat;}
div.catalog-detail-image{margin:0 25px 0 0;border:1px solid;padding:2px;}
div.catalog-detail-images{overflow:hidden;margin:0 25px 0 0;}
div.catalog-detail-images div.catalog-detail-image{position:relative;float:left;margin:10px 10px 0 0;width:50px;height:50px;overflow:hidden;padding:2px;text-align:center;}
div.catalog-detail-images div.catalog-detail-image a{width:100%;height:100%;display:block;}
div.catalog-detail-images div.catalog-detail-image img{vertical-align:middle;}
td.catalog-detail-desc{width:100%;}
div.catalog-detail-price{font-family:Arial;}
div.catalog-detail-price label{font-size:1.5em;}
div.catalog-detail-price p{font-size:1.5em;margin:0.5em 0 0;}
div.catalog-detail-buttons{overflow:hidden;margin-top:1.5em;}
div.catalog-detail-buttons a{float:left;background:url(images/button-bg.gif) no-repeat right 0;height:33px;line-height:30px;text-decoration:none;font-family:Arial;font-size:1.5em;padding:0;outline:none;cursor:pointer;text-shadow:1px 1px 1px #EEEEAA;}
div.catalog-detail-buttons span{display:block;height:33px;background:url(images/button-bg.gif) no-repeat;margin-right:3px;padding:0 12px 0 15px;float:left;}
div.catalog-detail-buttons a.disabled{background-position:right -33px;text-shadow:1px 1px 1px #EEE;}
div.catalog-detail-buttons a.disabled span{background-position:0 -33px}
div.catalog-detail div.catalog-item-links{margin:1em 0 0;overflow:hidden;}
div.catalog-detail-properties{clear:both;padding:1em 0 0;overflow:hidden;width:80%;}
div.catalog-detail-property{margin:0 0 1em;border-bottom:1px dotted;float:left;width:100%;}
div.catalog-detail-property b{float:right;position:relative;top:0.31em;padding-left:3px;font-weight:normal;}
div.catalog-detail-property span{float:left;position:relative;top:0.31em;padding-right:3px;}
div.catalog-detail-properties-title{font-size:1em;font-weight:bold;margin:2em 0 1em;}
div.catalog-detail-recommends{clear:both;padding:1em 0 0;overflow:hidden;width:100%;}
div.catalog-detail-recommend{margin-top:15px;}
div.catalog-detail-full-desc{width:100%;text-align:justify;word-spacing:-0.3ex;}
div.catalog-item-cards{position:relative;margin-bottom:9px;}
table.catalog-item-card{width:100%;table-layout:fixed;}
table.catalog-item-card td{padding:0;vertical-align:top;}
table.catalog-item-card tr.top td{height:5px;border:none;}
table.catalog-item-card tr.bottom td{height:5px;border:none;}
table.catalog-item-card .corner{width:5px;height:5px;font-size:1px;background:url(images/catalog-item-card-sprite.gif) no-repeat;}
table.catalog-item-card .left-top{float:left;background-position:0 0;}
table.catalog-item-card .left-bottom{float:left;background-position:0 -5px;}
table.catalog-item-card .right-top{float:right;background-position:-5px 0;}
table.catalog-item-card .right-bottom{float:right;background-position:-5px -5px;}
table.catalog-item-card td{width:50%;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-khtml-box-sizing:border-box;border-left:1px solid #e5e5e5;border-right:1px solid #e5e5e5;height:100%;}
table.catalog-item-card td.delimeter{width:8px;border:none;}
table.catalog-item-card .border-top{border-top:1px solid #e5e5e5;margin:0 5px;}
table.catalog-item-card .border-bottom{border-bottom:1px solid #e5e5e5;margin:4px 5px 0;}
div.catalog-item-card{padding:9px 10px 10px 10px;}
div.catalog-item-card .item-image{width:75px;text-align:center;float:left;margin:5px 10px 0 0;overflow:hidden;}
div.catalog-item-card .item-info{margin-left:85px;}
div.no-picture-mode .item-info, div.no-picture-mode .item-detail{margin-left:0;}
div.catalog-item-card p{margin:0 0 0.5em;font-size:0.85em;}
div.catalog-item-card p.item-price{padding-top:0.2em;line-height:1.7em;margin-bottom:0;}
div.catalog-item-card p.item-price span{background:#e6e6e6;padding:0.2em 0.3em;}
div.catalog-item-card p.item-price s{color:#aaa;white-space:nowrap;}
div.catalog-item-card p.item-desc{max-height:6em;overflow:hidden;position:relative;}
div.catalog-item-card p.item-title{font-weight:bold;font-size:0.95em;margin:0 0 0.5em;}
div.catalog-item-card .item-desc-overlay{background:url(images/fader.png) no-repeat scroll right center transparent;top:5em;display:block;height:1em;position:absolute;right:0;width:165px;}
div.content-block{padding:0.85em 1.2em 1.2em;border:1px solid;margin:0 0 15px;}
div.content-block h3{font-size:1.0em;font-weight:bold;margin:0 0 1em 0;font-family:Verdana;}
div.content-block-special{border:none;}
div.content-block-special .item-image{text-align:center;margin:1em 0;}
div.content-block-special .item-image a{border:1px solid;display:inline-block;padding:3px;}
div.content-block-special .item-name{margin:1em 0;}
div.content-block-special .item-desc{font-size:0.85em;margin:1em 0;}
div.content-block-special .item-price{font-size:0.85em;}
div.content-block-special .item-price span{font-weight:bold;}
div.content-block-subscribe{border:none;overflow:hidden;}
dl.block-list{margin:0;padding:0;font-size:0.85em;}
dl.block-list dt{margin:0}
dl.block-list dd{margin:0 0 1em;padding:0;}
dl.block-list a{text-decoration:none;}
dl.block-list a:hover{text-decoration:underline;}
a.rss-icon{background:url(images/rss.gif) no-repeat;width:16px;height:16px;float:right;}
div.order-item{margin:0 0 2em 0;}
div.order-title-inner{padding:8px 12px 10px 12px;overflow:hidden;}
div.order-title-inner span{font-weight:bold;float:left;}
div.order-title-inner a{float:right;}
div.order-title .r1{}
div.order-title .r2, div.order-title .r0{border-left:1px solid;border-right:1px solid;}
div.order-info{overflow:hidden;padding:1em 11px 1em 11px;border-bottom:1px solid;border-right:1px solid;border-left:1px solid;}
div.order-details{float:left;width:60%;}
div.order-status-info{float:right;width:30%;}
div.order-status-date{margin-bottom:0.7em;}
div.order-status{margin-bottom:0.7em;padding:0.2em 0.6em 0.3em;}
div.order-status-links a{display:block;outline:none;margin-bottom:0.3em;}
div.order-props p{margin:0 0 0.5em 0;}
div.order-items{margin:1em 0 0 1.5em;}
div.order-items ol{padding:0 0 0 1.5em;margin:0.5em 0 0;}
div.order-items li{margin:0 0 0.5em 0;}
div.order-buttons{text-align:center;}
div.order-buttons input{padding-left:0.5em;padding-right:0.5em;overflow:visible;}
table.order-properties{width:100%;}
table.order-properties td{vertical-align:top;padding:0 0.5em 0.3em;}
table.order-properties td.field-name{text-align:right;width:50%;color:#7f7f7f;}
table.order-properties td.field-value{width:50%;}
table.order-properties td.field-title{text-align:center;font-weight:bold;padding:0.5em;}
div.order-checkout div.order-title-inner, div.order-full-summary div.order-title-inner{padding:2px 12px 4px;}
div.order-checkout table.cart-items tfoot td, div.order-full-summary table.cart-items tfoot td{border:none;}
div.order-checkout div.order-item, div.order-full-summary div.order-item{margin:0 0 1.2em 0;}
div.subscription{width:80%;margin:0 0 2em;}
div.subscription-title-inner{font-weight:bold;padding:8px 12px 10px 12px;overflow:hidden;}
div.subscription-title .r2, div.subscription-title .r0{border-left:1px solid;border-right:1px solid;}
div.subscription-form{padding:17px 11px 0;border:1px solid;border-top:none;margin:0 0 1.5em;}
table.subscription-layout{width:100%;}
table.subscription-layout td{vertical-align:top;padding:0 0 20px;}
table.subscription-layout td.field-name{width:70px;text-align:right;padding-right:7px;}
table.subscription-layout td.field-form{}
input.subscription-textbox{width:230px;}
input.subscription-email{width:150px;}
div.subscription-format{white-space:nowrap;float:right;margin-right:1em;}
div.subscription-rubric{padding:0 0 1em;overflow:hidden;}
div.subscription-rubric input{float:left;margin-right:-23px;}
div.subscription-rubric label{margin-left:23px;display:block;padding-top:2px;}
div.subscription-rubric span{display:block;margin-top:0.25em;font-size:0.85em;}
div.subscription-notes{margin:1em 0 1.5em;}
div.subscription-utility p{font-size:0.85em;}
div.subscription-buttons{margin-top:1em;}
table.cart-items{width:100%;}
table.cart-items td{border-bottom:1px solid;white-space:nowrap;text-align:center;padding:0.5em;}
table.cart-items td p{margin:0 0 0.3em;}
table.cart-items td.cart-item-name p{text-align:right;}
table.cart-items td.cart-item-name{width:100%;white-space:normal;text-align:left;}
table.cart-items td.cart-item-price{text-align:right;}
table.cart-items thead td.cart-item-price{text-align:center;}
td.cart-item-quantity input{width:40px;text-align:center;}
div.cart-ordering{overflow:hidden;margin-top:1em;}
div.cart-code{float:left;}
div.cart-code input{width:240px;}
div.cart-buttons{float:right;}
div.cart-buttons input{padding-left:0.5em;padding-right:0.5em;overflow:visible;}
td.cart-item-actions a.cart-delete-item{width:16px;height:16px;display:inline-block;}
td.cart-item-actions a.cart-shelve-item, td.cart-item-actions a.cart-unshelve-item{font-size:0.85em;display:inline-block;vertical-align:top;}
td.cart-item-actions a.cart-shelve-item{margin-left:1em;}
div.compare-props{border:1px solid;padding:1em;margin:0 0 2em;}
div.compare-buttons{margin-top:1em;text-align:right;}
div.compare-buttons input{padding-left:0.5em;padding-right:0.5em;overflow:visible;}
table.compare-props{width:100%;}
table.compare-props td{width:33.33%;vertical-align:top;}
table.compare-props a{text-decoration:none;}
table.compare-props input{float:left;margin-right:-23px;}
table.compare-props label{margin-left:23px;display:block;padding-top:2px;}
div.compare-grid{overflow:auto;overflow-y:visible;padding-bottom:1.5em;width:100%;}
table.compare-grid{}
table.compare-grid td{padding:11px 8px 10px 15px;font-size:0.85em;vertical-align:top;}
table.compare-grid thead td{border-left:1px solid;font-weight:bold;}
table.compare-grid td.compare-property{border:none;white-space:nowrap;font-weight:bold;}
table.compare-grid .compare-delete-item{margin-left:15px;width:16px;height:16px;display:inline-block;float:right;}
table.map-columns{width:100%;}
table.map-columns td{vertical-align:top;padding:0;}
table.map-columns ul{padding:0 0 2em 0;font-weight:bold;}
table.map-columns li{margin:0 0 1.5em 0 !important;}
table.map-columns li li{margin:0 0 0.6em 0 !important;}
table.map-columns ul ul{font-weight:normal;padding:0 0 0 1.5em;margin:0.6em 0}
div.navigation{font-size:100%;line-height:200%;}
span.navigation-title{padding-right:0.65em;font-weight:bold;}
div.navigation a{text-decoration:underline;padding:0.2em 0.3em;}
span.nav-current-page{padding:0.2em 0.3em;}
div.navigation span.arrow{font-size:100%;font-family:Times, serif;}
div.navigation span.ctrl{font-size:85%;}
div.content-form input.input-submit{font-size:1.3em;overflow:visible;padding:0 0.5em;}
div.content-form{width:75%;font-size:0.95em;}
div.sale_bestseller_days, div.sale_bestseller_type{display:none;}
.bx-ss-icon{background-image:url('/bitrix/js/socialservices/css/icons.png');width:16px;height:16px;background-repeat:no-repeat;}
.openid{background-position:0px -192px;}
.yandex{background-position:0px 0px;}
.openid-mail-ru{background-position:0px -48px;}
.livejournal{background-position:0px -16px;}
.liveinternet{background-position:0px -128px;}
.blogger{background-position:0px -144px;}
.rambler{background-position:0px -160px;}
.liveid{background-position:0px -176px;}
.facebook{background-position:0px -32px;}
.twitter{background-position:0px -96px;}
.vkontakte{background-position:0px -80px;}
.mymailru{background-position:0px -64px;}
.google{background-position:0px -112px;}
.bx-ss-button{display:inline-block;background-image:url('/bitrix/js/socialservices/css/icons.png');width:87px;height:21px;background-repeat:no-repeat;vertical-align:middle;}
.liveid-button{background-position:0px -318px;}
.facebook-button{background-position:0px -208px;}
.twitter-button{background-position:0px -274px;}
.vkontakte-button{background-position:0px -252px;}
.mymailru-button{background-position:0px -230px;}
.google-button{background-position:0px -296px;}
div.bx-auth{max-width:600px;margin-top:16px;margin-bottom:24px;}
div.bx-auth form{padding:0;margin:0;}
div.bx-auth-line{border-bottom:1px solid #E3E3E3;padding-bottom:10px;}
div.bx-auth-title{font-size:140%;border-bottom:solid 2px #E3E3E3;padding-bottom:12px;}
div.bx-auth-note{margin:18px 0px 6px 0px;}
div.bx-auth-services{padding:0px;margin:0px;overflow:hidden;}
div.bx-auth-services div{display:block;float:left;margin:4px 6px 0px 0px;width:110px;}
div.bx-auth-services a{display:inline-block;margin:1px;padding:4px 4px 4px 4px;text-decoration:none;color:#646464;outline:none;}
div.bx-auth-services a:hover{margin:0px;border:1px solid #D9D9D9;}
div.bx-auth-services a.bx-ss-selected{margin:0px;border:1px solid #D9D9D9;background-color:#EBEBEB;}
div.bx-auth-services i{display:inline-block;margin:0px;margin-right:4px;vertical-align:middle;cursor:pointer;}
div.bx-auth-services b{vertical-align:middle;font-weight:bold;font-size:12px;font-family:Tahoma,Verdana,Arial,sans-serif;}
div.bx-auth-service-form{color:black;background-color:#EEEEEE;border-bottom:solid 1px #D6D6D6;margin-top:1px;padding:16px;vertical-align:middle;font-size:12px;}
div.bx-auth-service-form span, div.bx-auth-service-form input{vertical-align:middle;}
div.bx-auth-service-form input.button{position:relative;left:10px;}
div.bx-auth-service-form span.openid{display:inline-block;margin-right:6px;}
span.bx-spacer{display:inline-block;width:16px;}
div.bx-auth-serv-icons{}
div.bx-auth-serv-icons a{display:inline-block;margin:1px;text-decoration:none;color:#646464;outline:none;}
div.bx-auth-serv-icons a:hover{margin:0px;border:1px solid #D9D9D9;}
div.bx-auth-serv-icons i{margin:3px;display:inline-block;vertical-align:middle;cursor:pointer;}
div.bx-auth-lbl{margin-top:8px;margin-bottom:4px;}
div.bx-auth-float{padding-left:15px;padding-right:15px;font-size:120%;}
span.required-field{color:red;}
.social-icon{background-attachment:scroll;background-repeat:repeat;background-image:url("images/panel4.png");background-size:auto;background-origin:padding-box;background-clip:border-box;background-color:transparent;opacity:1;}
.social-icon:hover{opacity:0.65;}
.vk-icon{background-position:0px -38px;}
.odnoklassniki-icon{background-position:0px -73px;}
.facebook-icon{background-position:0px -143px;}
.twitter-icon{background-position:0px -178px;}
.google-icon{background-position:0px -213px;}
.faq-list-item{padding:0 0 5px 0;margin:0 0 5px 0;border-bottom:1px dotted #444;font-family:Arial;font-size:14px;color:#333;}
.faq-list-item-last{border-bottom:none;}
.faq-list-item .question{font-weight:bold;padding:0 0 7px 0;}
.faq-question{width:100%;color:#333;}
.faq-question .faq-title{font-size:20px;padding:0 0 10px 0;font-weight:bold;}
.faq-question p{margin:0.5em 0;}
.faq-question .error{font-size:14px;color:red;}
.faq-question .success{font-size:14px;color:green;}
.faq-question textarea{width:95%;}
.faq-question input[type=text]{width:40%;}
#clear-button{position:absolute;width:25px;height:25px;top:2px;right:82px;}
#clear-button img{width:25px;height:25px;}
#left-menu.catalog-menu li a{color:#222;font-size:12px;font-size:12px;width:100%;display:block;}
#left-menu.catalog-menu li:hover{color:#fff;font-size:12px;background:#FF7A01;}
#left-menu.catalog-menu li a:hover{color:#fff;font-size:12px;}
#left-menu.catalog-menu li.selected_section a{color:#fff;font-size:14px;font-weight:bold;}
.add_orders{color:#364450;cursor:pointer;font-size:11px;height:32px;line-height:35px;text-shadow:1px 1px #fff;border:0px;padding-left:16px;background:url(/bitrix/templates/store_minimal_blue/images/btn/product-buying.png) 0 0 no-repeat;width:110px;display:block;font-weight:bold;margin-top:18px;}
#panel{top:0 !important;left:0 !important;position:fixed !important;width:100% !important;z-index:995 !important;display:block !important;letter-spacing:normal !important;list-style:none !important;text-align:left !important;text-indent:0 !important;text-transform:none !important;visibility:visible !important;white-space:normal !important;word-spacing:normal !important;vertical-align:baseline !important;background:scroll transparent none repeat-x 0 0 !important;margin:0 !important;padding:0 !important;border:none !important;float:none !important;position:static !important;text-decoration:none !important;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif !important;}

.main-catalog table {display:none;}

.catalog-menu li:nth-child(n+15) {
    display: none;
}
.catalog-menu:hover li{display:block;}