.product-card .text .product_code {
font-size: 14px;
font-weight: bold;
}
.product-card .text .product_code .art {
font-weight: normal;
font-size: 10px;
}

					a#open_modal {    font-size: 16px;
    padding: 10px;
    background: rgb(241, 101, 34);
    color: white!important;
    height: 100%;
    cursor: pointer!important;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;}